* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f4e4ba;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  min-width: 30vw;
}
.container h2 {
  text-align: center;
}
form {
  margin: 2rem 0rem 1rem 0rem;
}
form input,
button,
select {
  width: 100%;
  border-radius: 0.75rem;
  border: none;
  outline: none;
}
form input {
  border: 1px solid lightgray;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
}
.dropdown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.select_container img {
  max-width: 2rem;
}
.select_container {
  display: flex;
  width: 6rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  padding: 0.5rem;
}
.select_container select {
  font-size: 1rem;
  width: auto;
}
.msg {
  margin: 2rem 0rem 2rem 0rem;
  text-align: center;
}
form p {
  text-align: center;
  margin-bottom: 0.5rem;
}
form button {
  height: 3rem;
  background-color: #af4d98;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
}
